
        body{
              background:  hsl(220, 10%, 12%);
        }

        .container{
             background-color:white;
             width: 60%;
        }

        .cont{                            /*// the styling for parent card div*/
            display: flex;
            border: 3px solid black;
        }

        .demarkate-line{                 /* // style for the <hr> line*/
               border-top: 3px solid white;
               width: 100%;
               margin-left: auto;
               margin-right: auto;
               margin-bottom: -1rem;
        }

        .picture{                         /* // style for image displayed in cards*/
            display: flex;
            justify-content: center;
            align-items: center;

        }
        .heading{                        /* // for the headings Add Post and Latest Posts*/
                    text-align: center;
        }

        img{                              /*// style for image to hardwire height and width*/
                    object-fit : cover;
                    max-height : 400px;
                    padding-left:10px;
                    padding-right:10px;
        }
